body {
    background-color: #344055;
    color: #CFB3CD;
}

h1 {
    text-align: center;
}

.navbar {
    display: block;
    margin: 25px auto 5px auto;
    padding: 15px;
    width: 80%;
    text-align: center;
    height: 27px;
}

.nav {
    border: #829CBC solid 2px;
    border-radius: 20%;
    padding: 1%;
    margin: 1%;
    font-size: large;
    transition: 150ms;
    transition-timing-function: ease-in;
}

.nav:link {
    color: #5DB7DE;
    background-color: transparent;
    text-decoration: none;
}

.nav:visited {
    color: #5DB7DE;
}
  
.nav:hover {
    font-size: 20px;
}

.nav:active {
    color: #DFC2F2;
}